body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz o body ter pelo menos a altura total da viewport */
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #2c6e49;
  max-width: 400px;
  width: 90%; /* Adapta a largura para telas menores */
  margin: 20px auto; /* Centraliza a container horizontalmente */
}

h1 {
  text-align: center;
  color: #2c6e49; /* Verde escuro */
  margin-bottom: 20px;
  font-size: 1.5em; /* Tamanho da fonte responsivo */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  font-size: 1em; /* Tamanho da fonte responsivo */
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em; /* Tamanho da fonte responsivo */
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Transição suave para o efeito de foco */
}

input:focus {
  outline: none; /* Remove o contorno padrão do navegador */
  border-color: #2c6e49; /* Verde escuro */
  box-shadow: 0 0 5px rgba(44, 110, 73, 0.5); /* Sombra verde clara */
}

button {
  padding: 10px;
  background-color: #2c6e49; /* Verde escuro */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em; /* Tamanho da fonte responsivo */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave para o background e o efeito de foco */
}

button:hover {
  background-color: #1b4d34; /* Verde mais escuro */
  transform: scale(1.05); /* Leve aumento do botão ao passar o mouse */
}

#result {
  margin-top: 20px;
  padding: 15px;
  background-color: #e8f5e9; /* Verde claro */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#result h2 {
  color: #2c6e49; /* Verde escuro */
  margin-bottom: 15px;
  font-size: 1.4em; /* Tamanho da fonte responsivo */
}

#result p {
  margin: 8px 0;
  font-size: 1em; /* Tamanho da fonte responsivo */
  color: #333;
}

footer {
  color: #2c6e49;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  font-size: 0.9em; /* Tamanho da fonte responsivo */
}

footer a {
  text-decoration: none; 
  color: #2c6e49; /* Verde escuro */
}

footer a:hover {
  text-decoration: dashed;
}

/* Media queries para telas menores */
@media (max-width: 480px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.2em;
  }

  label, input, button, #result h2, #result p, footer {
    font-size: 0.9em;
  }

  button {
    padding: 8px;
  }
}
